.title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.asideBar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactsBox {
  width: 100%;
}

.notContacts {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
  }
}
